<div class="singin">
    <div class="container">
        <form class="form-signin" name="form" (ngSubmit)="f.form.valid && putCar()" #f="ngForm" novalidate>
            <h2 class="form-signin-heading">Edit {{car.manufactor}} {{car.model}}</h2>
            <img class="card-img-top mb-4" src="https://otomotopl-imagestmp.akamaized.net/images_otomotopl/854795010_1_732x488_2005r-warszawa_rev003.jpg" alt="Preview of car">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="Mileage">Mileage</label>
                <input type="text" class="form-control" name="mileage" [(ngModel)]="car.performance.millage" #mileage="ngModel" autofocus="autofocus" required />
                <div *ngIf="f.submitted && !mileage.valid" class="help-block">First Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="short">Short Rent Price</label>
                <input type="text" class="form-control" name="shortTermPrice" [(ngModel)]="car.price.shortTermPrice" #shortTermPrice="ngModel" required />
                <div *ngIf="f.submitted && !shortTermPrice.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="midTermPrice">Medium Rent Price</label>
                <input type="text" class="form-control" name="midTermPrice" [(ngModel)]="car.price.midTermPrice" #midTermPrice="ngModel" required />
                <div *ngIf="f.submitted && !midTermPrice.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="longTermPrice">Long Rent Price</label>
                <input type="text" class="form-control" name="longTermPrice" [(ngModel)]="car.price.longTermPrice" #longTermPrice="ngModel" required />
                <div *ngIf="f.submitted && !longTermPrice.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Change</button>
                <a [routerLink]="['/mycars']" class="btn btn-lg btn-danger btn-block">Cancel</a>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    </div>
</div>