<h1>Cars</h1>

<p *ngIf="!cars"><em>Loading...</em></p>

<div class="row" *ngIf="cars">
    <div class="col-sm-6 col-md-4" *ngFor="let car of cars">
        <div class="thumbnail">
            <img src="https://otomotopl-imagestmp.akamaized.net/images_otomotopl/854795010_1_732x488_2005r-warszawa_rev003.jpg" alt="">
            <div class="caption">
                <h3>{{car.manufactor}}  {{car.model}}</h3>
                <p>Year {{car.year}}</p>
                <p>Owner {{car.userName}}</p>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Rent</a></p>
            </div>
        </div>
    </div>
</div>
