<div class="row">
    <h2 class="col-12">Cars</h2>
</div>
<p *ngIf="!cars"><em>Loading...</em></p>
<h4>Filter</h4>
<form>
    <div class="form-group">
        <label for="id">Id: </label>
        <input class="form-control mb-2 mr-sm-2" type="number" name="id" [(ngModel)]="filter.carId" min="1" step="1" placeholder="Id">
    </div>
    <div class="form-group">
        <label for="manufactor">Manufactor</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="manufactor" [(ngModel)]="filter.manufactor" placeholder="Manufactor">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="model" [(ngModel)]="filter.model" placeholder="Model">
    </div>
    <div class="form-group">
        <label for="year">Minimal Year</label>
        <input class="form-control mb-2 mr-sm-2" type="number" name="year" [(ngModel)]="filter.year" [attr.min]="minYear" [attr.max]="[maxYear]" step="1" placeholder="Year">
    </div>
    <div class="form-group">
        <label for="pMin">Price Min</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="pMin" [(ngModel)]="pMin" placeholder="Minimum Price">
    </div>
    <div class="form-group">
        <label for="pMax">Price Max</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="pMax" [(ngModel)]="pMax" placeholder="Maximum Price">
    </div>
</form>

<h4>Page {{page}} of {{numberofPages()}}</h4>
<div class="row row-content" *ngIf="cars">

    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let car of cars| carsPipe:filter:pMin:pMax | slice:(page-1)*limit:page*limit">
        <div class="card">
            <img class="card-img-top" src="https://otomotopl-imagestmp.akamaized.net/images_otomotopl/854795010_1_732x488_2005r-warszawa_rev003.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{car.manufactor}}  {{car.model}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID {{car.carId}}</li>
                <li class="list-group-item">Year {{car.year}}</li>
                <li class="list-group-item">Owner {{car.userName}}</li>
                <li class="list-group-item">{{car.price.shortTermPrice}} per day</li>
            </ul>
            <div class="card-body">
                <button [routerLink]="['/cars/', car.carId]" class="btn btn-outline-primary">Learn More</button>
                <button (click)="rent(car)" class="btn btn-outline-success">Rent</button>
            </div>
        </div>
    </div>
</div>
<h4>Page settings</h4>
<form class="form-inline mb-3">
    <div class="form-group">
        <label for="limit">Limit: </label>
        <input class="form-control mb-2 mr-sm-2" type="number" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfBooks]" step="1" placeholder="Limit">
    </div>
    <div class="form-group">
        <label for="page">Page: </label>
        <input class="form-control mb-2 mr-sm-2" type="number" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfBooks]" step="1" placeholder="Page">
    </div>
</form>
