<div class="row">
    <h2 class="col-12">Cars</h2>
</div>
<p *ngIf="!cars"><em>Loading...</em></p>
<div class="row row-content" *ngIf="cars">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let car of cars">
        <div class="card">
            <img class="card-img-top" src="https://otomotopl-imagestmp.akamaized.net/images_otomotopl/854795010_1_732x488_2005r-warszawa_rev003.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{car.manufactor}}  {{car.model}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year {{car.year}}</li>
                <li class="list-group-item">Owner {{car.userName}}</li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/cars/', car.carId]" class="btn btn-outline-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
