<div class="row">
    <h2 class="col-12">Users</h2>
</div>
<p *ngIf="!users"><em>Loading...</em></p>
<div class="row row-content" *ngIf="users">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let user of users">
        <div class="card">
            <img class="card-img-top" src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">User {{user.userName}}</li>
                <li class="list-group-item">Email {{user.email}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Learn More</a>
                <a href="#" class="card-link">Rent</a>
            </div>
        </div>
    </div>
</div>