<div class="row mb-3">
    <h2 class="mr-3">Cars </h2>
    <button class="btn btn-danger" [routerLink]="['/cars/create']">
        <i class="fas fa-plus-circle"></i> Add Car
    </button>
</div>
<p *ngIf="!cars"><em>Loading...</em></p>
<div class="row row-content" *ngIf="cars">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let car of cars">
        <div class="card">
            <img class="card-img-top" src="https://otomotopl-imagestmp.akamaized.net/images_otomotopl/854795010_1_732x488_2005r-warszawa_rev003.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{car.manufactor}}  {{car.model}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year {{car.year}}</li>
                <li class="list-group-item">Owner {{car.userName}}</li>
            </ul>
            <div class="card-body">
                <button [routerLink]="['/cars/', car.carId]" class="btn btn-outline-primary">Learn More</button>
                <button [routerLink]="['/cars/', car.carId, 'edit']" class="btn btn-outline-success">Edit</button>
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" (click)="selectCar(car.carId)">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" (click)="deleteCar()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>